.hidden {
	display: none;
}

a {
	color: inherit;
	text-decoration: none;
}

nav {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#nav-black {
	background-color: black;
	font-size: 13px;
	color: hsla(0,0%,100%,.6);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#left-nav {
	display: flex;
}

#left-nav li {
	margin-right: 7.5px;
	padding: 10px;
}

#left-nav li:nth-child(1) {
	margin-left: 5px;
}

#right-nav {
	display: flex;
}

#right-nav li {
	margin-left: 7.5px;
}

#nav-white {
	background-color: white;
	display: flex;
	color: #afaabf;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	box-shadow: 0 0 32px rgba(0,0,0,.15);
}

#nav-white ul {
	display: flex;
	padding-left: 10px;
}

#nav-white li {
	padding: 5px;
}

#nav-white img {
	border-left: 1px solid #afaabf;
	padding: 13px;
}

#cover {
	padding: 5px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.cover-fig > img {
	grid-row: 1/-1; 
}

#main-fig img[src*="logo"] {
	width: 20%;
}

#main-fig {
	grid-column: 1/3;
	grid-row: 1/-1;
}

.secondary-fig {
	grid-column: 3/4;
	grid-row: span 1;
	display: flex;
	background: 
}